.jumbotron {
	background-image: url("../img/math.jpg");

}
.black{
	color: white;
	text-align: center;
	font-family: cursive;
}
.About{
	background-color: black;
	color:white;
}


.play{
	font-size: 20px;
	font-family: cursive;
	float:right;

}
.black{
	background-image: background-image: url("../img/background.jpg");
}
